

<nav class="roboto">
    <div>
        <a href="" class="my-nav">Featured</a>
        <a href="" class="my-nav">Cars</a>
        <a href="" class="my-nav">Tracks</a>
        <a href="" class="my-nav"><span class="russo-one">CORSACRAFT</span> Repository ▾</a>
        <a routerLink="Register" class="my-nav">Register</a>
    </div>

    <div class="text-center">
        <img routerLink="" src="https://imgur.com/n90PSi4.png" alt="" class="nav-logo">
        <h1 class="corsacraft russo-one">CORSACRAFT</h1>
    </div>

    <div class="d-flex">
        <a routerLink="Support" class="my-nav">Contact Support</a>
        <a routerLink="FrequentlyAskedQuestions" class="my-nav">FAQ's</a>
        <a routerLink="AboutUs" class="my-nav">About <span class="russo-one">US</span></a>
        <div class="my-inp">
            <input type="text" name="search_bar" id="">
            <button>Search</button>
        </div>
    </div>
</nav>