<div class="page-title">
  <h1>REGISTER</h1>
</div>

<form action="">

<div class="register-parent">
  <div class="form-container">
    <label for="firstName" class="my-label"> First Name </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

  <div class="form-container">
    <label for="lastName" class="my-label"> Last Name </label>
    <input class="my-form" type="text" name="lastName" />
  </div>

  <div class="form-container">
    <label for="username" class="my-label"> Username </label>
    <input class="my-form" type="text" name="username" />
  </div>

  <div class="form-container">
    <label for="firstName" class="my-label"> Email </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

  <div class="form-container">
    <label for="firstName" class="my-label"> Password </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

  <div class="form-container">
    <label for="firstName" class="my-label"> Confirm Password </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

  <div class="form-container">
    <label for="firstName" class="my-label"> Phone Number </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

  <div class="form-container">
    <label for="firstName" class="my-label"> Address Line 1 </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

  <div class="form-container">
    <label for="firstName" class="my-label"> Address Line 2 </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

  <div class="form-container">
    <label for="firstName" class="my-label"> Date Of Birth </label>
    <input class="my-form" type="text" name="firstName" />
  </div>

</div>
<div class="checkboxes">
    <div class="form-container">
        <label for="">
            Would you like to sign up for <span class="russo-one corsacraft">CORSACRAFT</span> newsletter?
            <input type="checkbox" name="" id="">
        </label>
    </div>
    <div class="form-container">
        <label for="">
            Would you like to sign up for <span class="russo-one corsacraft">CORSACRAFT</span> newsletter?
            <input type="checkbox" name="" id="">
        </label>
    </div>
  </div>

</form>

<div class="rectangle-ad">
  <img src="https://imgur.com/J147B6P.png" alt="" />
</div>
