<div class="page-title">
  <h1>REGISTER</h1>
</div>

<form action="">
    <div class="d-flex">


<div class="register-parent">
  <div class="form-container">
    <label for="firstName" class="my-label"> First Name </label>
    <input class="my-form" type="text" id="firstName" />
  </div>

  <div class="form-container">
    <label for="lastName" class="my-label"> Last Name </label>
    <input class="my-form" type="text" id="lastName" />
  </div>

  <div class="form-container">
    <label for="username" class="my-label"> Username </label>
    <input class="my-form" type="text" id="username" />
  </div>

  <div class="form-container">
    <label for="email" class="my-label"> Email </label>
    <input class="my-form" type="text" id="email" />
  </div>

  <div class="form-container">
    <label for="password" class="my-label"> Password </label>
    <input class="my-form" type="text" id="password" />
  </div>

  <div class="form-container">
    <label for="confirmPassword" class="my-label"> Confirm Password </label>
    <input class="my-form" type="text" id="confirmPassword" />
  </div>

  <div class="form-container">
    <label for="phoneNumber" class="my-label"> Phone Number </label>
    <input class="my-form" type="text" id="phoneNumber" />
  </div>

  <div class="form-container">
    <label for="address1" class="my-label"> Address Line 1 </label>
    <input class="my-form" type="text" id="address1" />
  </div>

  <div class="form-container">
    <label for="address2" class="my-label"> Address Line 2 </label>
    <input class="my-form" type="text" id="address2" />
  </div>

  <div class="form-container">
    <label for="dateOfBirth" class="my-label"> Date Of Birth </label>
    <input class="my-form" type="text" id="dateOfBirth" />
  </div>
  
</div>
</div>

<div class="checkboxes">
    <div class="form-container">
        <label for="">
            Would you like to sign up for <span class="russo-one corsacraft">CORSACRAFT</span> newsletter?
            <input type="checkbox" name="" id="">
        </label>
    </div>
    <div class="form-container">
        <label for="">
            Would you like to sign up for <span class="russo-one corsacraft">CORSACRAFT</span> newsletter?
            <input type="checkbox" name="" id="">
        </label>
    </div>
  </div>

</form>


