
<app-construction-alert></app-construction-alert>
<app-navbar></app-navbar>
<div class="app-parent">
  <div class="large-leaderboard">
    <img src="https://imgur.com/nSVzKf0.png" alt="">
  </div>
  <div class="ad-view container-fluid">
    <div class="skyscraper-ad">
      <img src="https://imgur.com/gXAASGT.png" alt="">
    </div>

    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>

    <div class="skyscraper-ad">
      <img src="https://imgur.com/gXAASGT.png" alt="">
    </div>
  </div>

</div>