
<app-construction-alert></app-construction-alert>
<app-navbar></app-navbar>
<div class="app-parent container-fluid">
  <div class="large-leaderboard">
    <img src="https://imgur.com/nSVzKf0.png" alt="">
  </div>
  <div class="ad-view">
    <div class="skyscraper-ad">
      <img src="https://imgur.com/gXAASGT.png" alt="">
    </div>

    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>

    <div class="skyscraper-ad">
      <img src="https://imgur.com/gXAASGT.png" alt="">
    </div>
  </div>

  <div class="full-banner-ad">
    <a href="https://stocktonmayor-dev-www-west-new-dev.azurewebsites.net">
      <img src="https://imgur.com/IGQKB6N.png" alt="">
    </a>
  </div>

</div>