@import '../scss/universal';

.large-leaderboard{
    display: flex;
    justify-content: center;
}

.ad-view{
    display: flex;
    justify-content: space-between;
}
.skyscraper-ad{
    img{
        width: 120px;
    }
}


@media (max-width: 970px){
    .large-leaderboard{
        img{
            width: 100%;
        }
    }
}