@import '../../../scss/universal';



.about-us-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.logo{
    height: 100px;
}

@media (max-width: 768px){
    .about-us-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}