
<div class="page-title">
    <h1><span class="corsacraft">CORSACRAFT</span> Support</h1>
</div>
<div class="support-parent roboto">
    <div class="support-form-parent">
        <div class="form-container">
            <label for="firstName" class="my-label">
                First Name
            </label>
                <input class="my-form" type="text" name="firstName">
        </div>

        <div class="form-container">
            <label for="phoneNumber" class="my-label">
                Phone Number
            </label>
                <input class="my-form" type="text" name="phoneNumber">
        </div>

        <div class="form-container">
            <label for="email" class="my-label">
                Email
            </label>
                <input class="my-form" type="email" name="email">
        </div>

        <div class="form-container">
            <label for="userMessage" class="my-label">
                Message
            </label>
            <textarea class="my-form" name="userMessage" id="" rows="3"></textarea>
        </div>
    </div>

    <div class="support-guest">

        <div class="address-area">
            
            <div class="address-parent border-0">
                <div>
                    <h3>Snail Mail</h3>
                    <p>
                        1234 Wacky Way <br>
                        Giggleburg, HAHA-54321 <br>
                        Jokeville
                    </p>
                </div>
            </div>
            
            <div class="address-parent">
                <div>
                    <h3>Electronic Mail</h3>
                    <a href="">support@corsacraft.com</a>
                </div>
            </div>
            
            <div class="address-parent">
                <div>
                    <h3>Phone Support</h3>
                    <p>
                        Hours: 9am-5am(CST), Monday-Friday <br>
                        +1 (555) F1-RACER
                    </p>
                </div>
            </div>
        </div>
        <app-powered-by></app-powered-by>
    </div>

    
</div>